<div class="list-entry">
<% for (const item of items) { %>
  <%
    var hybrid_lbl = ""
    if (item.event && item.event.hybrid) {
      hybrid_lbl = "&nbsp;[&#8226;]{.sep} Online via Microsoft Teams"
    }
  %><div>
  <div class="listing-col1 event-date"><%= (item.event && item.event.date) || item.date %></div>
  <div class="listing-col2 event-descrip"><a href="<%- item.path %>">
    <span class="event-title"><%= item.title %></span> <br/>
    <span class="event-summary"><%= (item.event && item.event.summary) || item.subtitle %></span> <br/>
    <span class="event-time"><%= item.event && (item.event.date + ' @ ') %><%= item.event && item.event.time %></span> <br/>
    <span class="event-location"><%= item.event && item.event.location %><%= hybrid_lbl %></span>
  </a></div></div>
<% } %>
</div>
